/* BAR EDITION */
.edit{
    position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 59px;
	background-color: black;
	color: white;
	width: 100%;
	gap: 10px;
}

.edit-project {
	cursor: pointer;
}

.projets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.edit-projet {
    color: black;
    cursor: pointer;
    margin-left: 3em;
    display: flex;
    flex-direction: row;

    i {
        margin-right: 0.5em;
    }
}

#portfolio .projets h2 {
    margin-bottom: 0px;
}

/** MODAL **/
.modal-btn {
    padding: 10px 14px; 
    font-size: 18px;
    margin: 100px auto;
    cursor: pointer;
    display: block;
    min-width: 150px;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal-container.active {
    display: block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
}

.modal {
    width: 95%;
    max-width: 630px;
    min-width: 300px;
    max-height: 688px;
    padding: 30px;
    background: white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: white;

} 

.back-modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background-color: white;

}

.modal h1 {
    font-family: Work Sans;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
}

.modal p {
    margin-bottom: 16px;
    line-height: 1.4;
}

.gallery-modal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 30px;
    padding-left: 45px;
    padding-top: 20px;

    /*.img-project {
        width: 20%;
        height: 20%;
    }*/

    .img-project img {
        /*width: 100%;*/
        width: 76.61px;
    }
}

.modal-wrapper-body, .back-modal {
    display: none;
}

.btn-project {
    background-color: black;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    bottom: 80px;
    right: 33px;
    border: none;

    i {
        color: white;
    }
}

.horizontal-line, .horizontal-line__1 {
  width: 86%;
  margin-top: 2.5em;
}

.model-wrapper-footer {
    text-align: center;
    margin-top: 2.5em;
}
.footer-modal .btn-add, .btn-valider {
    width: 237px;
    height: 36px;
    border-radius: 60px;
    cursor: pointer;
    background: #1D6154;
    border-color: #1D6154;
    border: none;
    color: #FFFFFF;
    font-family: Syne;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

}

/************************
*** MODAL AJOUT PHOTO ***
*************************/

.formProject,  .form-picture {
    display: flex;
    flex-direction: column;
    align-items: center;

    .list-cat {
        Width: 420px;
        Height: 51px;
        background: #FFFFFF;
        border-color: #FFFFFF;
        box-shadow: 0px 4px 14px 0px #00000017;
        padding: 10px;
        margin-top: 10px;
    }

    input[type="text"] {

        Width: 400px;
        Height: 31px;
        background: #FFFFFF;
        border-color: #FFFFFF;
        box-shadow: 0px 4px 14px 0px #00000017;
        border: none;
        padding: 10px;
        margin-bottom: 22px;
        margin-top: 10px;

    }
}

#previewPicture {
    display: none;
    width: 31%;
    height: 100%;
    object-fit: contain;
}

.file {
    display: none;
}

.form-picture {
    background-color: #E8F1F6;
    width: 420px;
    height: 169px;
    text-align: center;
    margin-bottom: 30px;

    .iconPicture {
        color: #B9C5CC;
        padding-top: 20px;
    }

    .labelFile {
        width: 173px;
        border-radius: 50px;
        border: 2px solid #CBD6DC;
        background-color: #CBD6DC;
        color: #306685;
        cursor: pointer;
        padding: 9px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .pictureFormat {
        font-family: Work Sans;
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: center;
        padding-bottom: 20px;

    }
}

.titre-projet, .categorie-projet {
    display: flex;
    flex-direction: column;
}

.errorForm {
    color: red;
    margin-top: 1.0em;
}


